div.container-fluid {
    height: 100vh;
    background: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center/cover;

}

ul.nav {

    position: fixed;
    top: 2rem;

}

div.wrap {
    width: 300px;
}

h2,
label {
    font-size: 24px;
    color: #eee;
}

h2,
h3 {
    margin-bottom: 2rem;
}

h3,
p {
    color: yellow;
    text-shadow: #4afff3 1px 0 10px;
}
p{
    font-size: 20px;
}

input,
select,
option {

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
        -1px -1px 6px rgba(51, 50, 50, 0.4);
}

b {
    color: greenyellow;
    font-weight: 800;
}

button#but {
    width: 100%;
}